// This file is used for decomposing the css files in separate components

/* :root{
    --primary-color:#272727;
    --accent-color:#ff652f;
    --text-color:#fff;
} This is for normal css variable */
// For Scss variables
$primary-color: #272727;
$accent-color: #ff652f;
$text-color: #fff;

// Maps
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 600,
);

$mobile: 800px;
